/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import './common.scss';

.editor-styles-wrapper {

	.wp-block[data-align=right],
	.wp-block[data-align=left] {
		.wp-block-hassle-free-date-list-date-list {
			@include mq('sp') {
				max-width: none;
				width    : 100%;
			}

		}
	}
}

.wp-block-hassle-free-date-list-date-list {

	.components-placeholder {

		.components-select-control__input {
			padding-top   : 0;
			padding-bottom: 0;
		}
	}
}